.hamburger {
    width: 60px;
    height: 50px;
    position: absolute;
    margin-left: 40px;
    margin-top: 10px;
    display: none;
}

.hamburger div {
    width: 100%;
    height: 9px;
    background-color: white;
    margin-top: 9px;
}

@media screen and (max-width:1300px) {
    .navbar ul {
        margin-top: 79px;
        margin-left: 1000px;
        color: black;
        flex-direction: column;
        background-color: rgba(200, 200, 213, 0.804);
        height: 2100px;
    }

    .navbar ul li {
        margin-top: 20px;
        font-size: 50px;

    }

    .navbar ul li a {
        color: black;
    }

    .navbar ul span {
        background-color: black;
    }

    .hamburger {
        display: block;
        z-index: 2;
    }

    .home {
        flex-direction: column;
        height: auto;
        width: 102%;
    }

    .home .left h1 {
        font-size: 140px;
    }

    .home .left button {
        font-size: 33px;
        width: 447px;
        height: 100px;
        border-radius: 20px;
    }

    .home .right {
        width: 100%;
    }

    .home .right img {
        margin-left: 13%;
        margin-top: 10px;
        width: 725px;
    }
    .scroll-down{
        display: none;
    }
    .about-head h1{
        font-size: 100px;
    }
    .about .about-head div {
        margin-left: 421px;
        height: 8px;
    }
    .about-content{
        flex-direction: column;
    }
    .about-images {
        width: 50%;
        margin: auto;
        padding-left: 4px;
    }
    .about-images img {
        width: 341px;
        height: 341px;
    }
    .about-content div:nth-child(2) {
        width: 100%;
    }
}